.weather {
  text-align: left !important;
}
.weather-title {
  color: #333;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.5rem;
}
.main {
  max-width: 80vw !important;
}
.table {
  width: 100%;
  font-size: 0.9rem;
  border: 1px solid #ddd;
}
.row {
  box-sizing: border-box;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.row:nth-child(odd) {
  background-color: #f9f9f9;
}
.row__left {
  width: 35%;
  text-align: left;
  padding: 5px;
  border-right: 1px solid #ddd;
}
.row__right {
  text-align: left;
  padding: 5px;
}
.temp {
  display: flex;
  align-items: center;
  font-size: 1.9rem;
  font-weight: bold;
  margin: -25px 0;
}
.temp_desc {
  margin: 10px;
}
.icon {
  padding: 0 10px;
}
@media (max-width: 700px) {
  .main {
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
  }
  .weather {
    text-align: center !important;
  }
}
